/* -------------------------------------------------
    Variables
   ------------------------------------------------- */

:root {
  --accent-color: #992f43;

  --high-contrast-color: #fafafa;
  --low-contrast-color: #131418;
}

/* -------------------------------------------------
    Element styles
   ------------------------------------------------- */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

html {
  background-color: var(--low-contrast-color);
  color: var(--low-contrast-color);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .025rem;
  line-height: 1.5;
  padding: 1rem .25rem .25rem;
  word-spacing: .075rem;
}

p {
  margin: 1rem 0;
}

section {
  padding: .5rem;
}

ul {
  list-style: none;
}

/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.link {
  color: var(--low-contrast-color);
  position: relative;
  transition: color 0.2s;
}

.link:before {
  border-bottom: solid 1px var(--low-contrast-color);
  bottom: 2px;
  content: '';
  left: 1.25%;
  position: absolute;
  transition: border-bottom 0.2s;
  width: 97.5%;
}

.link:hover {
  color: var(--accent-color);
}

.link:hover:before {
  border-bottom: solid thin var(--accent-color);
}