/* -------------------------------------------------
    Variables
   ------------------------------------------------- */

:root {
  --accent-color: #992f43;

  --high-contrast-color: #fafafa;
  --low-contrast-color: #131418;

  --panel-size: 50%;
  --space-unit: 1rem;
}

/* -------------------------------------------------
    Element styles
   ------------------------------------------------- */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
html {
  color: var(--low-contrast-color);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .025rem;
  line-height: 1.5;
  margin: 0;
  word-spacing: .075rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

main {
  display: grid;
  grid-template-columns: minmax(auto, 16.5rem) auto;
}

nav {
  position: fixed;
  right: 3rem;
  top: 2.5rem;
}

section {
  height: calc(100vh - calc(var(--space-unit) * 2));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}